@media (max-width: 1365px) {
    #nine_7{font-size:2rem !important;line-height:2.2rem !important}
    .six_7{height:32rem !important}
    .six_8{width:50% !important}
    .six_8_special{width:50% !important;top:20% !important}

    .first_filter_main{
        padding:7rem 3.23rem 2.5rem 1rem !important;
    }
    #first_down_arrow{
        padding-right:16rem;
    }
    
    .four_left_box{left:57% !important}

}
@media (max-width: 1256px) {
    .six_8{top:22% !important}
    .six_8_special{top:20% !important}


}



@media (max-width: 1199px) {
    #first_down_arrow{
        padding-right:12rem;
    }
    .three_sm_1{padding-top:1rem !important;padding-left:0 !important}
    #three_right_margin{margin-right:0.5rem}
    #three_left_margin{margin-left:0.5rem}
    #three_section_two{height:auto !important}
    .three_sm_2{height:225px !important}
    .four_left_box{left:62% !important}

}
@media (max-width: 1100px) {
    #ten_unique_4{display:block !important}
    #ten_unique_4_extra{width:100%;display:flex;    justify-content: center;   padding-top:1rem    }
    #first_down_arrow{
        padding-right:10rem;
    }
    .four_left_box{left:69% !important}

    
}

@media (max-width: 1024px) {

    .first_1{width:100% !important;padding:1rem !important;margin-top:-8rem !important}
    .first_4{margin:0 !important;padding-top:1.5rem !important}
    .first_2{justify-content:flex-start !important}
    #nine_1{width:100% !important;padding:1rem}
    #eight_main_container{width:100% !important;padding:1rem}
    
    #six_main_container{width:100% !important;padding:1rem}
    .first_filter_main{
        padding-top:1rem !important;
    }
    .first_filter_h1{font-weight:300}
    .first_filter_h2{font-weight:200}
    .first_filter_h3{font-weight:350}
    .filter_responsive{display:block !important
    }
    .first_main_{
        display:none;
    }
    .res_off{
        display:none !important;
    }
    .res_on{display:block !important}
    #functionalities_main_container{
        width:100%;padding-left:2rem;
    }
    #swiper_functionalities{
        justify-content: flex-start;
        padding-bottom:0rem;
    }
    #swiper_functionalities_inner{
        width:50%;justify-content: space-between;display:block;height:auto;
    }
    .first_down_arrow_res{
        justify-content: flex-end;

    }
    #functionalities_res_new{
        justify-content: flex-start;
    }
    #functionalities_arrow_res{margin-top:0}
    .four_left_heading{height:20rem !important}
    
   
    
    
}
@media (max-width: 930px) {
    .six_8_special{top:17% !important}
    #nine_5{padding-top:2rem !important}

}
@media (max-width: 879px) {
    .six_8_special{top:12.5% !important}

}

@media (max-width: 850px) {
    #background_video_1{display:none}
    #background_video_2{display:none}
    .five_14{display:none !important}
}

@media screen and (max-width: 767px) {
    .ten_number{height:2.5rem !important;width:2.5rem !important}
    #pagination_ten{position:relative !important;left:0 !important}
    #nine_2{padding-bottom:0rem !important}
    #nine_5{padding:0;padding:2rem !important}
    #nine_12{height:auto !important}
    #nine_11{order:1 !important;padding:0rem !important}
    #nine_4{order:2 !important}
    .mySwiper_res .swiper-slide-next {
        filter: opacity(0.25);
    }
}


@media (max-width: 767px) {
    #twelve{padding: 1rem 1.5rem !important;}
    .tw_2{display:block !important}
    #eleven{padding:2rem 0rem !important}
    .ten_number{padding:1rem 1rem !important}
    .eight_5_right{padding-left:0 !important}
    .eight_6{width:23% !important}
    .res_off_767{display:none !important}
    .res_on_767{display:block !important}
    .six_8{position: relative !important; width:100% !important}
    .six_8_special{position: relative !important; width:100% !important}


    .six_7{width:100% !important}
    .six_6{flex-direction:column }
    .six_7{width:100% !important;background-size: contain!important;height:19rem !important;}
    .six_col_main{padding:0 !important}

    .six_inner_icon_text{display:flex;align-items:center}
    .six_col_main_inner_a{display:flex !important;}
    .six_col_main_inner{margin-top:0.5rem !important;height:auto !important;padding:1rem !important}
    
.first_button_2{
    padding:0.5rem 1rem !important;
}
.first_button_1{
    padding:0.5rem 1rem !important;
}
.second_res_row_inner{
    padding-right:0rem !important;
}
.second_res_row_inner_even{
    padding-left:0rem !important;
}
.three_sm_1{
    padding:1rem 0rem !important;
}
.three_sm_2{
    height:auto !important;
}
.three_sm_3,#three_section_three{font-size:calc(1.4rem + 1.4vw)!important;}
#three_section_three{padding:1rem 0rem 1rem 0 !important;}
#three_section_two{padding-right:0 !important;}
#three_right_margin{margin-right:0rem !important;}
    #three_left_margin{margin-left:0rem !important}
    #three_special_res{padding-top:0 !important}
    #four_swiper_res_new{padding:0rem 9rem !important}
    .four_left_heading{
        height:19rem !important;
    }
}

@media (max-width: 685px) {
    #four_swiper_res_new{padding:0rem 7rem !important}

}



@media (max-width: 576px) {
    .ten_number{margin:0rem 0.25rem !important}
    .ten_rating_new{display:flex !important;justify-content: space-between;}
    .ten_text_align{display:none}
    .first_filter_main{
        padding-left:1rem !important;
    }
    #functionalities_main_container{
        padding-left:1rem
    }
    .four_left_heading{
        height:21rem !important;
    }
    #four_swiper_res_new{padding:0rem 4.5rem !important}

    
}

@media (max-width: 385px) {
    .first_filter_h1{padding-bottom:0}
    .first_filter_h2{line-height: 32px;}
}